.mask-text {
  line-height: 1.2;
}

.mask-text .line {
  display: block;
  overflow: hidden;
}

.rotation{
 width: 300px;
 height: 300px;
 margin: 50px auto;
 position: relative;
 border: 1px solid #ccc;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;   
}

.rotation h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.shuffle{
    padding: 50px;
    text-align: center;
    font-size: 2rem;
}

.flip{
    padding: 50px;
    text-align: center;
    font-size: 2rem;
}

.flip-container {
  perspective: 800px;
}

.flip-container h1{
    display: inline-block;
    transform-style: preserve-3d;
}
