.text{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  color: blue;
  letter-spacing: 2px;
}

.iteration{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  color: #ff6600;
  letter-spacing: 2px;
}

.wave-text{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  color: #00ffcc;
  letter-spacing: 2px;
}

.hover {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  color: #ff00cc;
  letter-spacing: 2px;
  cursor: pointer;
}

.verticalRoll{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2px;
  color: aqua;
  letter-spacing: 5px;
}

.glichy{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  color: #4bdb8c;
  letter-spacing: 5px;
}
